$colorPrimario: #FF0000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}



/*LAYOUT HEADER : START*/
#main-header {
    background-color: $colorPrimario;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color : white;

    nav {
        a {
            color: white;
            text-decoration: none;
            margin-left: 1rem;
        }
    }
}
/*LAYOUT HEADER : END*/



main {
    flex-grow: 1;
    padding: 1rem;
}

footer {
    background-color: $colorPrimario;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8em;
}